Learning about lists, indexing and slicing

In [7]:
my_list = [1, 2, 3]
my_list = ["A string", 23, 100.232, "o"]
my_list = ["one", "two", "three", 4, 5]

In [4]:
my_list[0]

'one'

In [5]:
my_list[:3]

['one', 'two', 'three']

In [6]:
my_list + ["new item"]

['one', 'two', 'three', 4, 5, 'new item']

In [ ]:
# make the list tripple
my_list * 30

In [10]:
# Create a new list
list1 = [1, 2, 3]
print(list1)

[1, 2, 3]

In [14]:
# show
list1

[2, 3, 'append me!', 'append me!']

In [12]:
# Append
list1.append("append me!")
print(list1)

[1, 2, 3, 'append me!', 'append me!']

In [13]:
# Pop off the 0 indexed item
list1.pop(0)

1

In [15]:
# Assign the popped element, remeber default popped index is -1
popped_item = list1.pop()

In [16]:
popped_item

'append me!'

In [17]:
# show remaining list
list1

[2, 3, 'append me!']

In [ ]:
# index out of range error
list1[100]

In [ ]:
# We can use the sort method and the reverse methods to also affect your lists

In [20]:
new_list = ["a", "e", "x", "b", "c"]

In [21]:
# show
print(new_list)

['a', 'e', 'x', 'b', 'c']

In [ ]:
new_list.reverse()
print(new_list)
# tas pats kaip [::-1]

['a', 'e', 'x', 'b', 'c']

Nesting lists
A great feature of Python is that they support nesting. This means we can have dardataa structures within data structures. For example: a list inside a list. Let's see how it works:

In [25]:
# Let's make three lists
lst_1 = [1, 2, 3]
lst_2 = [4, 5, 6]
lst_3 = [7, 8, 9]

# Make a list of lists to form a matrix
matrix = [lst_1, lst_2, lst_3]

In [26]:
# show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object and then the items inside that list.

In [27]:
# grab first item in matrix object
matrix[0][0]

1

Python sąrašai - pagrindinės manipuliacijos

In [28]:
vaisiai = ["obuolys", "bananas", "kriause"]
print(vaisiai)

['obuolys', 'bananas', 'kriause']

In [29]:
vaisiai.append("apelsinas")
print(vaisiai)

['obuolys', 'bananas', 'kriause', 'apelsinas']

In [30]:
vaisiai.insert(1, "citrina")
print(vaisiai)

['obuolys', 'citrina', 'bananas', 'kriause', 'apelsinas']

In [31]:
vaisiai.pop(0)
print(vaisiai)

['citrina', 'bananas', 'kriause', 'apelsinas']

4. prieiga prie elementų ir jų keitimas

In [32]:
print(vaisiai[0])

citrina

In [33]:
vaisiai[1] = "kivis"
print(vaisiai)

['citrina', 'kivis', 'kriause', 'apelsinas']

In [34]:
vaisiai.extend(["vynuoge", "persikas"])
print(vaisiai)  # Prideda kelis

['citrina', 'kivis', 'kriause', 'apelsinas', 'vynuoge', 'persikas']

In [35]:
vaisiai.sort()
print(vaisiai)

['apelsinas', 'citrina', 'kivis', 'kriause', 'persikas', 'vynuoge']

In [39]:
vaisiai.reverse()
print(vaisiai)

['vynuoge', 'persikas', 'kriause', 'kivis', 'citrina', 'apelsinas']

Dictionaries
Zodynas gali buti zodyne. Galima konvertuoti i json ir bus mazai vietos uzimantys failai, galima jungtis prie python failu.

In [42]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {"key1": "value1", "key2": "value2"}

In [43]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [44]:
# call values by their key
my_dict["key2"]

'value2'

In [46]:
my_dict = {"key1": 123, "key2": [12, 23, 33], "key3": ["item0", "item1", "item2"]}

In [47]:
# Let's call items from the dictionar
my_dict["key3"]

['item0', 'item1', 'item2']

In [48]:
# Can call an index in that value
my_dict["key3"][0]

'item0'

In [49]:
# Create a new dictionar
d = {}

In [50]:
d["animal"] = "dog"

In [52]:
d["answer"] = 42

In [53]:
# show
d

{'animal': 'dog', 'answer': 42}

In [54]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {"key1": {"nestkey": {"subnestkey": "value"}}}

In [55]:
# keep calling the keys
d["key1"]["nestkey"]["subnestkey"]

'value'

A few dictionary methods

In [56]:
# Create a typical dictionary
d = {"key1": 1, "key2": 2, "key3": 3}

In [57]:
# Method to return a list of all keys
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [58]:
# method to grab all values
d.values()

dict_values([1, 2, 3])

In [59]:
# Method to return tuples of all items (we'll leanr about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

Pagrindinės žodyno manipuliacijos

In [ ]:
# zodyno sukurimas
asmuo = {"vardas": "Jonas", "amzius": 30, "miestas": "Vilnius"}
print(asmuo)

{'vardas': 'Jonas', 'amzius': 30, 'miestas': 'Vilnius'}

In [61]:
# 2.prieiga prie reiksmiu
print(asmuo["vardas"])
print(asmuo.get("amziius"))

Jonas
None

In [62]:
asmuo["amzius"] = 31
asmuo["el_pastas"] = "jonas@example.com"
print(asmuo)

{'vardas': 'Jonas', 'amzius': 31, 'miestas': 'Vilnius', 'el_pastas': 'jonas@example.com'}

In [63]:
print(asmuo.keys())
print(asmuo.values())
print(asmuo.items())

dict_keys(['vardas', 'amzius', 'miestas', 'el_pastas'])
dict_values(['Jonas', 31, 'Vilnius', 'jonas@example.com'])
dict_items([('vardas', 'Jonas'), ('amzius', 31), ('miestas', 'Vilnius'), ('el_pastas', 'jonas@example.com')])

In [ ]:
# Rakto pasalinimas
asmuo.pop("miestas")
print(asmuo)

{'vardas': 'Jonas', 'amzius': 31, 'el_pastas': 'jonas@example.com'}

In [65]:
# Tikrinimas ar raktas egzistuoja
print("vardas" not in asmuo)
print("miestas" not in asmuo)

False
True

In [66]:
# Elementu skaicius
print(len(asmuo))

3

In [ ]:
# zodyno isvalymas
asmuo.clear()
print(asmuo)

# taskas ir metodas, pvs asmuo.clear vadinasi method chaining

{}

Pradedam mokytis For ciklus. Iterables - galime sukurti logika, kuri eitu per kiekviena raide, per kiekviena key, per kiekviena listo irasa ir kazka darytu, ko mums reikia. tai vadinasi ciklas. galima daryti iteracijas ir ciklus. Dazniausias ciklas yra or, kuris aiskiai apibrezia kiek kartu reikia ka atlikti.

kintamuju pavadinimai yra mums, kad supranstume patys.
Python ciklai su sarasais ir zodynais.

In [68]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# modulo - liekana - remainder
17 % 5

2

In [72]:
# 3 remainder 1
10 % 3

1

In [74]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [77]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print("Odd number")

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [78]:
# Start sum at zero
list_sum = 0

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

In [79]:
# Start sum at zero
list_sum = 0
for num in list1:
    list_sum += num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [6]:
for letter in "This is a string.":
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [1]:
for raide in "nebeprisikiskiakopusteliaudavome":
    print(raide)

n
e
b
e
p
r
i
s
i
k
i
s
k
i
a
k
o
p
u
s
t
e
l
i
a
u
d
a
v
o
m
e

Kaip iteruoti per zodyno irasus (is skaidriu). {} - zodyno skliaustai
Kaip sukti for cikla per tam tikra kieki kartu (funkcija range). range - funkcija, kuriai galime nusistatyti seka, pvz metams (nuo 0 iki 13), darbo valandoms.range start, spot, intervalas.

In [4]:
# zodynas paprastutis
d = {"k1": 1, "k2": 2, "k3": 3}

In [ ]:
for item in d:
    print(item)

k1
k2
k3

In [96]:
# Create a dictionary view object
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [97]:
# dictionary unpacking
for k, v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [99]:
list(d.keys())

['k1', 'k2', 'k3']

In [100]:
sorted(d.keys())

['k1', 'k2', 'k3']

In [101]:
sorted(d.values())

[1, 2, 3]

we've learned how to use for loops to iterate through tuples, lists, strings and dictionaries. It will be an important tool for us, so make su you know it well and understood the above examples.
dict (zodynas) - duomenu struktura, sauganti poras

In [103]:
# KPI pavyzdys: reikšmės pagal pavadinimą
kpi = {"revenue": 12500.50, "orders": 320, "return_rate": 0.035}
kpi

{'revenue': 12500.5, 'orders': 320, 'return_rate': 0.035}

In [104]:
# reiksmes paemimas pagal rakta
revenue = kpi["orders"]
orders = kpi["orders"]
revenue, orders

(320, 320)

In [106]:
# saugus paemimas su get()
kpi.get("orders")
kpi.get("profit", "0")

'0'

In [ ]:
# iteravimas per žodyną. variantas keys() - eiti per raktus, values() - eiti per reikšmes, items() - eiti per (raktas, reikšmė) poras.
for sku in stock_by_sku.keys():
    print("Preke:", sku)

naudingi metodai:

 update() - atnaujinti kelias reikšmes vienu metu, 
 pop() - pasalinti rakta ir grazinti reiksme, 
 setdefault() - grazinti reiksme, jei rakto nera, sukurti su numatyta reiksme.

 Iš žodynų kuriami data frames. Python lentelės, kurios veikia panašiai kaip excel lentelės, jas galima merge'inti ir Join'inti.

In [108]:
transactions = [
    {"region": "LT", "amount": 120.0},
    {"region": "LT", "amount": 80.0},
    {"region": "EE", "amount": 55.0},
    {"region": "LV", "amount": 200.0},
    {"region": "LT", "amount": 40.0},
]

sales_by_region = {}

for t in transactions:
    region = t["region"]
    amount = t["amount"]
    sales_by_region[region] = sales_by_region.get(region, 0) + amount

sales_by_region

{'LT': 240.0, 'EE': 55.0, 'LV': 200.0}

In [109]:
# zodynas zodyne

products = {
    "SKU-001": {"name": "Kėdė", "price": 49.99, "stock": 120, "category": "Baldai"},
    "SKU-002": {"name": "Stalas", "price": 149.00, "stock": 35, "category": "Baldai"},
    "SKU-005": {"name": "Lempa", "price": 19.90, "stock": 7, "category": "Apšvietimas"},
}
products

{'SKU-001': {'name': 'Kėdė',
  'price': 49.99,
  'stock': 120,
  'category': 'Baldai'},
 'SKU-002': {'name': 'Stalas',
  'price': 149.0,
  'stock': 35,
  'category': 'Baldai'},
 'SKU-005': {'name': 'Lempa',
  'price': 19.9,
  'stock': 7,
  'category': 'Apšvietimas'}}

In [111]:
# reiksmiu paemimas is nested zodyno. reikia naudoti du raktus pirmas: prekes kodas, antras: lauko pavadinimas

sku = "SKU-002"
product_name = products[sku]["name"]
product_stock = products[sku]["stock"]
product_category = products[sku]["category"]
product_name, product_stock, product_category

('Stalas', 35, 'Baldai')

In [112]:
# Ataskaita: isvesti prekes su mazu likuciu
low_stock_thershold = 10
for sku, info in products.items():
    if info["stock"] < low_stock_thershold:
        print("Mazas likutis", sku, info["name"], "likutis", info["stock"])

Mazas likutis SKU-005 Lempa likutis 7

dazniausios klaidos: 
supainioti list ir dict 

paimti neegzistuojanti rakta su dict[key]

dubliuoti rakta

Python range() naudojimas su for ir while ciklais
for ciklo pavyzdziai (control flow)

In [113]:
for i in list(range(1, 6)):
    print(i)

1
2
3
4
5

In [ ]:
for i in list(range(0, 15, 3)):
    print(i)
    # sugeneruoja python seka start, stop, range(???)

0
3
6
9
12

In [117]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

In [120]:
for i in range(1, 6, -1):
    print(i)

While  ciklai - kol salyga yra tenkinama, daryk
Begalinis ciklas (infinite loop)
While nera labai megiamas duomenu analitikoje.
kad nebutu infinite loop yra apsvarstymai ir apribojimai, pvz ciklo nutraukimas (break)
kitas - pakartojimo praleidimas (continue)

Salyha [else] for ir while cikluose 1

In [ ]:
# blogas
slaptazodis = input("prasome sukurti slaptazodi:")

inputas = input("suveskite savo slaptazodi, kad prisijungtumet prie paskyros")

while inputas != slaptazodis:
    print("nope, netinka, ivesk teisinga")


# infinite loop pavyzdys - kinda cool

In [125]:
slaptazodis = input("prasome sukurti slaptazodi:")

inputas = input("suveskite savo slaptazodi, kad prisijungtumet prie paskyros")

while inputas != slaptazodis:
    print("nope, netinka, ivesk teisinga")
    inputas = input("suveskite teisinga slaptazodi:")
print("sekmingai prisijungete")

nope, netinka, ivesk teisinga
sekmingai prisijungete

In [127]:
slaptazodis = input("prasome sukurti slaptazodi:")

inputas = input("suveskite savo slaptazodi, kad prisijungtumet prie paskyros:")

bandymai = 0
max_bandymai = 3

while inputas != slaptazodis:
    bandymai += 1
    if bandymai > max_bandymai:
        print("pasiekei max skaiciu. patikrinkit ar ne robotas:")
        break
    print("nope, netinka, ivesk teisinga")
    inputas = input("suveskite teisinga slaptazodi:")
if inputas == slaptazodis:
    print("sekmingai prisijungete")

nope, netinka, ivesk teisinga
nope, netinka, ivesk teisinga
nope, netinka, ivesk teisinga
pasiekei max skaiciu. patikrinkit ar ne robotas: