In [1]:
import pandas as pd
 
df = pd.DataFrame({'Produktas': ['A', 'B'], 'Kaina': [10, 20]})
df.to_excel("pavyzdys.xlsx", index=False)

In [2]:
def fahrenheit(celsius):
    return (9/5)*celsius + 32
   
temps = [0, 22.5, 40, 100]

In [3]:
F_temps = map(fahrenheit, temps)
 
#Show
list(F_temps)

[32.0, 72.5, 104.0, 212.0]

In [4]:
list(map(lambda x: (9/5)*x + 32, temps))

[32.0, 72.5, 104.0, 212.0]

In [5]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]
 
list(map(lambda x,y:x+y,a,b))

[6, 8, 10, 12]

In [6]:
lst = ['a','b','c']
 
for number,item in enumerate(lst):
    print(number)
    print(item)

0
a
1
b
2
c

In [7]:
months = ['March','April','May','June']
 
list(enumerate(months,start=3))

[(3, 'March'), (4, 'April'), (5, 'May'), (6, 'June')]

In [8]:
x = [1,2,3]
y = [4,5,6]
 
# Zip the lists together
list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [9]:
#First let's make a function
def even_check(num):
    if num%2 ==0:
        return True

In [10]:
lst =range(20)
 
list(filter(even_check,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
list(filter(lambda x: x%2==0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [13]:
# Pritaikyti 10% PVM ir apvalinti kainas
price_list = {"Milk": 1.50, "Bread": 0.99, "Eggs": 0.80}
 
prices_with_vat = {k: round(v * 1.10, 2) for k, v in price_list.items()}
prices_with_vat

{'Milk': 1.65, 'Bread': 1.09, 'Eggs': 0.88}

In [14]:
orders = [
    {"order_id": 1001, "customer": "Asta",   "country": "LT", "category": "Food",   "amount": 19.90, "items": 2, "returned": False},
    {"order_id": 1002, "customer": "Mantas", "country": "LV", "category": "Tech",   "amount": 249.00, "items": 1, "returned": False},
    {"order_id": 1003, "customer": "Asta",   "country": "LT", "category": "Food",   "amount": 5.50,  "items": 1, "returned": True},
    {"order_id": 1004, "customer": "Ieva",   "country": "EE", "category": "Home",   "amount": 39.99, "items": 3, "returned": False},
    {"order_id": 1005, "customer": "Tomas",  "country": "LT", "category": "Tech",   "amount": 99.00, "items": 1, "returned": False},
    {"order_id": 1006, "customer": "Ieva",   "country": "EE", "category": "Food",   "amount": 12.00, "items": 2, "returned": False},
]
 
len(orders), orders[0]

(6,
 {'order_id': 1001,
  'customer': 'Asta',
  'country': 'LT',
  'category': 'Food',
  'amount': 19.9,
  'items': 2,
  'returned': False})

In [15]:
def safe_float(x):
    """Grąžina float arba None, jei konvertuoti nepavyksta."""
    try:
        return float(x)
    except (TypeError, ValueError):
        return None
 
safe_float("12.5"), safe_float("abc"), safe_float(None)

(12.5, None, None)

In [16]:
amounts = [o["amount"] for o in orders]
total_revenue = sum(amounts)
min_amount = min(amounts)
max_amount = max(amounts)
 
total_revenue, min_amount, max_amount, len(amounts)

(425.39, 5.5, 249.0, 6)

In [17]:
# Unikalios kategorijos ir šalys
categories = sorted({o["category"] for o in orders})
countries = sorted({o["country"] for o in orders})
 
categories, countries

(['Food', 'Home', 'Tech'], ['EE', 'LT', 'LV'])