In [14]:
letters = ["a", "b", "c", "d"]

while len(letters) > 0:
    letter = letters.pop(0)
    if letter == "c":
        continue
    else:
        print(letter)

a
b
d

In [15]:
import datetime

In [16]:
# Modeliuoti užsakymus: (order_id, customer_id, amount)
orders = [
    (1001, "C001", 59.90),
    (1002, "C002", 12.50),
    (1003, "C001", 120.00),
]
 
# Suskaičiuoti pajamų sumą
total_revenue = sum(amount for _, _, amount in orders)
print("Pajamos iš viso:", total_revenue)

Pajamos iš viso: 192.4

In [17]:
# Sukurti tuple (tuplą) su apvaliais skliaustais
kpi = ("Revenue", 125000.0, "EUR")
 
# Atspausdinti
print(kpi)
print(type(kpi))
 
# Prieiti prie elementų pagal indeksą (nuo 0)
print("Pavadinimas:", kpi[0])
print("Reikšmė:", kpi[1])
print("Valiuta:", kpi[2])

('Revenue', 125000.0, 'EUR')
<class 'tuple'>
Pavadinimas: Revenue
Reikšmė: 125000.0
Valiuta: EUR

In [18]:
duomenys = [
    ('ID001', 'Jonas', 'Vilnius', 150.0),
    ('ID002', 'Ona', 'Kaunas', 200.0),
    ('ID003', 'Petras', 'Klaipėda', 175.0),
    ('ID004', 'Jonas', 'Vilnius', 180.0)
]
 
df = pd.DataFrame(duomenys, columns=['ID', 'Vardas', 'Miestas', 'Pardavimai'])
print(df)
 
# Kiek unikalių klientų vardų
print("Unikalūs vardai:", set(df['Vardas']))
 
# Pardavimų suma per miestus
print("Pardavimai pagal miestą:")
print(df.groupby('Miestas')['Pardavimai'].sum())

NameError: name 'pd' is not defined

In [ ]:
miestai = ['Vilnius', 'Kaunas', 'Klaipėda', 'Vilnius', 1, True, None]
print("Miestų sąrašas:", miestai)
print("Pirmas miestas:", miestai[:-1])

In [ ]:
# Sukurti set su riestiniais skliaustais
channels = {"online", "direct", "partner"}
 
print(channels)
print(type(channels))
 
# Patikrinti narystę (greita operacija)
print("online" in channels)
print("phone" in channels)

In [ ]:
customer_ids = ["C001", "C002", "C001", "C003", "C002", "C004"]
unique_customers = set(customer_ids)
 
print("Unikalūs klientai:", unique_customers)
print("Unikalių klientų skaičius:", len(unique_customers))

In [ ]:
unique_customers_sorted = sorted(unique_customers)
print(unique_customers_sorted)

In [ ]:
allowed_countries = {"LT", "LV", "EE"}
allowed_countries.add("PL")
print(allowed_countries)
 
# remove: klaida, jei elemento nėra
# allowed_countries.remove("DE")
 
# discard: saugu, jei elemento nėra
allowed_countries.discard("DE")
print(allowed_countries)

In [ ]:
online_buyers = {"C001", "C002", "C005"}
direct_buyers = {"C001", "C003", "C004"}
 
print("Bent vienas kanalas (sąjunga):", online_buyers | direct_buyers)
print("Abu kanalai (sankirta):", online_buyers & direct_buyers)
print("Tik online:", online_buyers - direct_buyers)
print("Tik viename kanale (simetrinis skirtumas):", online_buyers ^ direct_buyers)

In [ ]:
banned_categories = {"Alcohol", "Tobacco", "Weapons"}  # Pavyzdinės kategorijos
 
orders_categories = [
    (1001, {"Food", "Household"}),
    (1002, {"Alcohol", "Food"}),
    (1003, {"Electronics"}),
    (1004, {"Tobacco"}),
]
 
flagged_orders = []
for order_id, cats in orders_categories:
    # Patikrinti sankirtą: ar yra bent viena draudžiama kategorija
    if cats & banned_categories:
        flagged_orders.append(order_id)
 
print("Pažymėti užsakymai:", flagged_orders)

In [ ]:
orders_items = {
    1001: {"Milk", "Bread", "Eggs"},
    1002: {"Bread", "Butter"},
    1003: {"Milk", "Bread"},
    1004: {"Eggs", "Flour", "Sugar"},
    1005: {"Milk", "Bread", "Butter"},
}
 
# Suskaičiuoti, kiek užsakymų turi ir Milk, ir Bread
target_bundle = {"Milk", "Bread"}
count = sum(1 for items in orders_items.values() if target_bundle.issubset(items))
print("Užsakymų su Milk+Bread:", count)

In [ ]:
print(True, type(True))
print(False, type(False))
 
print(bool(1), bool(0))
print(bool("text"), bool(""))
print(bool([]), bool([1, 2]))
print(bool({}), bool({"a": 1}))

In [ ]:
cart = []
if cart:
    print("Krepšelis turi prekių")
else:
    print("Krepšelis tuščias")
 
cart.append("Milk")
if cart:
    print("Krepšelis turi prekių:", cart)

In [ ]:
order_total = True + 120
 
if order_total >= 200:
    segment = "Aukštos vertės"
elif order_total >= 100:
    segment = "Vidutinės vertės"
elif order_total > 0:
    segment = "Žemos vertės"
else:
    segment = "Neteisinga suma"
 
print("Suma:", order_total, "Segmentas:", segment)

In [ ]:
is_active = True
cart = ["Milk", "Bread"]
 
if is_active and cart:
    print("Leisti tęsti pirkimą")
else:
    print("Neleisti tęsti pirkimo")
 
has_debt = False
if is_active and not has_debt:
    print("Leisti pasiūlyti atidėtą mokėjimą")

In [ ]:
sales = [
    {"order_id": 1, "channel": "online", "revenue": 100},
    {"order_id": 2, "channel": "direct", "revenue": 80},
    {"order_id": 3, "channel": "phone", "revenue": 20},
    {"order_id": 4, "channel": "partner", "revenue": 30},
]
 
allowed = {"online", "direct", "partner"}
 
total_revenue = 0
kept_orders = []
 
for s in sales:
    if s["channel"] not in allowed:
        continue  # praleisti neleidžiamą kanalą
 
    total_revenue += s["revenue"]
    kept_orders.append(s["order_id"])
 
print("Atrinkti užsakymai:", kept_orders)
print("Pajamos:", total_revenue)

In [ ]:
inputs = ["x", "12.3", "15"]
i = 0
result = None
 
while i < len(inputs) and result is None:
    text = inputs[i]
    try:
        result = int(text)
    except ValueError:
        result = None
    i += 1
 
print("Pirmas sėkmingas int:", result)

In [ ]:
prices = {"Milk": 1.50, "Bread": 0.99}
 
product = "Coffee"
price = prices.get(product)
 
if price is None:
    print("Kaina nerasta:", product)
else:
    print("Kaina:", product, price)

In [ ]:
discounts = {"VIP": 0.0, "Regular": 5.0}
 
segment = "VIP"
disc = discounts.get(segment)
 
# Blogas tikrinimas, jei 0.0 yra validi reikšmė
if disc:
    print("Nuolaida:", disc)
else:
    print("Nuolaida nerasta arba lygi 0.0 (neaišku)")
 
# Teisingas tikrinimas
if disc is None:
    print("Nuolaida nerasta")
else:
    print("Nuolaida (teisingai):", disc)

In [ ]:
customers = [
    {"id": "C001", "email": "a@b.com", "revenue": 120.0},
    {"id": "C002", "email": "", "revenue": 50.0},
    {"id": "C003", "email": None, "revenue": -10.0},
]
 
bad_ids = []
 
for c in customers:
    email = c["email"]
    revenue = c["revenue"]
 
    if email is None or email == "":
        bad_ids.append(c["id"])
        continue
 
    if revenue < 0:
        bad_ids.append(c["id"])
 
print("Netinkami įrašai:", bad_ids)

In [19]:
sales_lines = [
    {"channel": "online",  "product": "Milk",   "qty": 2, "unit_price": 1.50, "discount": 0.00},
    {"channel": "online",  "product": "Bread",  "qty": 1, "unit_price": 0.99, "discount": 0.10},
    {"channel": "direct",  "product": "Eggs",   "qty": 3, "unit_price": 0.80, "discount": 0.00},
    {"channel": "partner", "product": "Butter", "qty": 1, "unit_price": 2.20, "discount": 0.05},
]
print(sales_lines)

[{'channel': 'online', 'product': 'Milk', 'qty': 2, 'unit_price': 1.5, 'discount': 0.0}, {'channel': 'online', 'product': 'Bread', 'qty': 1, 'unit_price': 0.99, 'discount': 0.1}, {'channel': 'direct', 'product': 'Eggs', 'qty': 3, 'unit_price': 0.8, 'discount': 0.0}, {'channel': 'partner', 'product': 'Butter', 'qty': 1, 'unit_price': 2.2, 'discount': 0.05}]

In [20]:
def line_total(qty, unit_price, discount=0.0):
    return round(qty * unit_price * (1 - discount), 2)
 
print(line_total(2, 1.50, 0.00))
print(line_total(1, 0.99, 0.10))

3.0
0.89

In [21]:
nums = [10, 5, 20]
 
print("len:", len(nums))
print("sum:", sum(nums))
print("min:", min(nums))
print("max:", max(nums))
print("sorted:", sorted(nums))
print("type:", type(nums))

len: 3
sum: 35
min: 5
max: 20
sorted: [5, 10, 20]
type: <class 'list'>

In [22]:
def add(a, b):
    return a + b
print(add(25, 13))
print(add(1200, 56))
print(add("True", "False"))

38
1256
TrueFalse

In [23]:
def print_kpi(name, value):
    print("KPI:", name, "| Reikšmė:", value)
 
result = print_kpi("Revenue", 1200)
print("Funkcijos grąžinimas:", result)

KPI: Revenue | Reikšmė: 1200
Funkcijos grąžinimas: None

In [ ]:
def multiply(a, b):
    return a * b
 
print(multiply(3, 4))
print(multiply(True, True))

In [ ]:
def add_vat(amount, vat_rate=0.21):
    return round(amount * (1 + vat_rate), 2)
 
print(add_vat(100))
print(add_vat(100, vat_rate=0.09))

In [ ]:
def safe_divide(a, b):
    if b == 0:
        return None
    return a / b
 
print(safe_divide(10, 2))
print(safe_divide(10, 0))

In [ ]:
def customer_segment(total_spent):
    if total_spent >= 200:
        return "Aukštos vertės"
    elif total_spent >= 100:
        return "Vidutinės vertės"
    elif total_spent > 0:
        return "Žemos vertės"
    else:
        return "Neteisinga suma"
 
print(customer_segment(250))
print(customer_segment(120))
print(customer_segment(20))
print(customer_segment(0))

Aukštos vertės
Vidutinės vertės
Žemos vertės
Neteisinga suma

In [ ]:
def suma(*skaiciai):
    print(f"Argumentai: {skaiciai}")
    return sum(skaiciai)
 
print(suma(1, 2, 3))
print(suma(5, 10, 15, 20))

Argumentai: (1, 2, 3)
6
Argumentai: (5, 10, 15, 20)
50

In [ ]:
def rodyti_info(**kwargs):
    for raktas, reiksme in kwargs.items():
        print(f"{raktas}: {reiksme}")
 
rodyti_info(vardas="Jonas", amzius=30, miestas="Panevėžys")

In [ ]:
def visa_info(vardas, *hobiai, **kontaktai):
    print(f"Vardas: {vardas}")
    print("Hobiai:", hobiai)
    print("Kontaktai:")
    for raktas, reiksme in kontaktai.items():
        print(f"  {raktas}: {reiksme}")
 
visa_info("Jonė", "dailė", "joga", "katės", "bėgimas", "kelionės", elpastas="jone45893@gmail.com", miestas="Jonava")

Vardas: Jonė
Hobiai: ('dailė', 'joga', 'katės', 'bėgimas', 'kelionės')
Kontaktai:
  elpastas: jone45893@gmail.com
  miestas: Jonava

In [ ]:
def skaiciuoti_vidurki():
    duomenys = [10, 20, 30]
    vidurkis = sum(duomenys) / len(duomenys)
    print("Vidurkis:", vidurkis)
 
skaiciuoti_vidurki()
# print(vidurkis)  #  klaida – 'vidurkis' neegzistuoja už funkcijos ribų

Vidurkis: 20.0

In [ ]:
imones_pavadinimas = "DataSuperPro"
 
def spausdinti_pavadinima():
    print("Įmonė:", imones_pavadinimas)
 
spausdinti_pavadinima()

In [ ]:
balansas = 1000
 
def papildyti_balansa(suma):
    global balansas
    balansas += suma
    print("Atnaujintas balansas:", balansas)
 
papildyti_balansa(500)
print("Galutinis balansas:", balansas)

Atnaujintas balansas: 1500
Galutinis balansas: 1500

In [ ]:
def papildyti_balansa_teisingai(balansas, suma):
    return balansas + suma
 
balansas = 1000
balansas = papildyti_balansa_teisingai(balansas, 300)
print("Galutinis balansas:", balansas)

In [ ]:
def skaiciuoti_konversija(parodymai, paspaudimai):
    konversija = round((paspaudimai / parodymai) * 100,2)
    return konversija
 
rezultatas = skaiciuoti_konversija(10000, 1450)
print("Konversija: ", rezultatas, "%")

Konversija:  14.5 %

In [ ]:
import numpy as np

a = np.arange(15).reshape(3, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [ ]:
a.shape

(3, 5)