Data structures, Boolean, Datetime
Duomenų tipų apžvalga, string formatting.
Data types, single value, multiple values, dictionaries, tuples and sets.
su duomenimis galime: juos keisti, arba priskirti naujas reikšmes ant viršaus. Tuple yra nekeičiamas. Sąrašai, žodynai ir setai yra keičiami.
Python container data types:
single values, multiple values
Multiple values yra containers, kuriuose galima talpinti daug dalykų.

Python caontainer data types
Sąrašų sintaksė laužtiniuose skliausteliuose. jie yra rikiuojai ir indeksuojami ir gali būti dvigubos reikšmės. Juos galima keisti (mutable). Skirti laikymui rikiuotinų dalykų.
Dictionary sintaksė yra {{}} tokiuose skliausteliuose, unoerdered, bet galima indeksuoti. values gali pasikaroti. Juos galima keisti (mutable). Naudojama for key-value pairs.
Set yra rinkinys, aibė. Rašomas laužtiniuose{} skliaustuose, nerikiuojamas, unordered, indeksavimo nėra, nes nėra sekos, neleidžia dublikatų. Užima mažiau informacijos. Reikalingas norint išsivesti Unique dalykus/values.
Tuple rašomas skliausteliuose(), rikiuojamas, pasiekiamas per index, gali būti vienodos reikšmės, bet nekeičiamas. Reikalingas for fixed data, nes kai kurie dalykai turi būti nekeičiami dėl duomenų saugumo.

Tuple yra nekeičiama, immutable duomenų seka. nekintamas sąrašas. Svarbu, kad užima mažai vietos, nes nėra papildomai tikrinamas, plius koordinatėms. Galime paprastą list'ą paversti tuple.
mY_tuple = (1,2,3) single_t = (1,)
Tupple metodai .count() - suskaičiuoti. .index() - grąžina pirmą kartą sutikto nurodyto elemento indeksą.

Kas yra set? nesurikiuotas unikalių reikšmių rinkinys. Galima tikrinti, atlikti matematinę analizę, lyginti dvi reikšmių aibes. Naudinga, kai reikia greitai išvalyti dublikatus. Set operacijos naudojamos palyginti klientų grupes, filtruoti pasikartojimus.

Naudok tuple, kai reikšmė neturi keistis. Naudok set, kai reikia unikalių reikšmių ar atlikti aibės operacijas. Abu objektai naudoja mažiau atminties nei List ir veikia greičiau specifinėse situacijose.

In [ ]:
#constructing tuples
t = (1,2,3)

In [ ]:
#check len just like a list
len(t)

In [ ]:
# can also mix object types
t = ("one", 2)
t

In [ ]:
#slicing just like a list 
t[-1]

In [ ]:
# Methods, kad rastu .index
t.index("one")

In [ ]:
t.count("one")

In [ ]:
t.append("nope") #nes negalima append
#convenient source of data integrity

In [ ]:
#set 
#set yra aibe. unordered collection of unique ellements
x = set()

In [ ]:
#we add to sets with the add() method
x.add(1)

In [ ]:
#show
print(x)

In [ ]:
x.add(2)

In [ ]:
print(x)

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [ ]:
set(list1)

Booleans
predefined True and False displays
Panašiai kaip online direct flag. Tuščias set būtų false. true yra 1. juos galima sumuoti(bet tik true, nes turi vieneto reikšmę). 
jie susikuria, jeigu vedame loginius comparison operators.

In [ ]:
a = True

In [ ]:
print(a)

In [ ]:
3 > 2

In [ ]:
b = None
print(b)

tuple

In [1]:
# Yra užsakymo duomenys
order = ("ORD-001", "2024-09-01", 120.50)
 
order

('ORD-001', '2024-09-01', 120.5)

In [ ]:
#reiksmiu paemimas is tupple pagal indeksa
order_id = order[0]
order_date = order[1]
order_amount = order[2]
 
order_id, order_date, order_amount

In [ ]:
#tuple unpacking
#naudojamas, kai reikia is karto iskaidyti reiksmes ir kintamuosius ir zinai kokia yra struktura
#tuple unpacking su paskutiniais elementais naudojamas, kai reikalinga tik dalis reiksmiu.
# Yra prekių sąrašas
products = ("Kėdė", "Stalas", "Lempa", "Spinta", "Lentyna")
 
# Reikia paimti paskutinius tris elementus
item1, item2, item3 = products[-3:]
 
item1, item2, item3

In [ ]:
#set unikalios reiksmes
# Yra klientų ID su pasikartojimais
customer_ids = ["C001", "C002", "C001", "C003", "C002"]
 
unique_customers = set(customer_ids)
unique_customers

In [ ]:
#set pavertimas i list arba tuple naudojamas, kai reikia unikaliu reiksmiu, bet butina seka.
unique_customers_list = list(unique_customers)
unique_customers_tuple = tuple(unique_customers)
 
unique_customers_list, unique_customers_tuple

In [ ]:
#set operacijos: sajunga, sankirta, skirtumas

#sajungos pvz
campaign_A = {"C001", "C002", "C003"}
campaign_B = {"C002", "C004"}
 
# Klientai, gavę bent vieną kampaniją
campaign_A | campaign_B

In [ ]:
#klientai, gave abi kampanijas
campaign_A & campaign_B

In [ ]:
#klientai, gave tik A kampanija
campaign_A - campaign_B

In [ ]:
#set naudojimas cikluose. naudojamas, kai reikia pereiti per unikalias reiksmes.

String formatting
1.Paprastas print() su kintamaisiais

In [ ]:
vardas = "Jonas"
amzius = 25
print("Vardas:", vardas)
print("Amžius:", amzius)

In [ ]:
#2. formatavimas naudojant f-string
vardas = "Jonas"
amzius = 25
print(f"{vardas} yra {amzius} metu amziaus")

In [ ]:
#3. Formatavimas naudojant str.format()
vardas = "Ona"
amzius = "29"
print ("{} yra {} metu amziaus".format(vardas, amzius))

In [ ]:
#4. sep panaudojimas (tarpu keitimas) separatoriu nurodai pvz bruksniukas arba taskas
#5. end panaudojimas (pabaigos keitimas)
print("Sveiki,", end=" ")
print("kaip sekasi?")

In [ ]:
#6 keliu formatavimo budu palyginimas
vardas = "Jonas"
amzius = 25
 
# f-string
print(f"{vardas} / {amzius} m.")
 
# format()
print("{} / {} m.".format(vardas, amzius))
 
# klasikinis su kableliais
print(vardas, "/", amzius, "m.")

In [ ]:
#Tuple fiksuotu reiksmiu rinkinys
# Pvz.: kliento duomenų struktūra
klientas = ("Jonas", 28, "Vilnius")
vardas, amzius, miestas = klientas
print("Vardas:", vardas)
print("Amžius:", amzius)
print("Miestas:", miestas)

In [ ]:
#Tuple sarase - fiksuota struktura keliose eilutese
#pvz klientu sarasas


#set operacijos - grupiu palyginimas
# Pvz.: aktyvūs ir registruoti klientai
registruoti = {"Jonas", "Ona", "Petras", "Greta"}
aktyvūs = {"Jonas", "Greta"}
 
# Kas registruoti, bet neaktyvūs?
neaktyvūs = registruoti - aktyvūs
print("Neaktyvūs klientai:", neaktyvūs)

In [ ]:
#Set panaudojimas duomenu analize
# Pvz.: rasti bendrus produktus dviejose rinkose
lt_produktai = {"obuoliai", "bananai", "kriaušės"}
lv_produktai = {"bananai", "kriaušės", "vynuogės"}
 
bendri = lt_produktai & lv_produktai
print("Bendri produktai:", bendri)

In [ ]:
#Tuple kaip rakto panaudojimas zodyne. dictionary key turi buti unikalus.
# Pvz.: pardavimai pagal (regionas, produktas)
pardavimai = {
    ("Vilnius", "obuoliai"): 150,
    ("Kaunas", "obuoliai"): 200,
    ("Vilnius", "kriaušės"): 180
}
print("Pardavimai Vilniuje (obuoliai):", pardavimai[("Vilnius", "obuoliai")])

In [ ]:
#sankirta & arba .intersection()): kas bendro, 
a = {"A", "B", "C"}
b = {"B", "C", "D"}
print(a & b)  # {'B', 'C'}
print(a.intersection(b))

In [ ]:
# sajunga | arba .union())

In [ ]:
#skirtumas - arba .difference())
#simetrinis skirtumas ^ arba .symmetric_difference())
#poaibio tikrinimas <=
#aibes lygybe ==

In [ ]:
#Boolean, dates, laikas, isimtys
#boolean kintamieji, veiksmai su data ir laiku, sugaudysime programos klaidas ir atliksime veiksmus
#Loginis kintamasis - boolean.  dvi reiksmes: True arba False. 
#Tikrinimui, filtravimui, ziurejimui ir operaciju valdymui. Tikrina iki pirmos klaidos, toliau neziuri, ismeta false, net jeigu tolimesnes salygos yra false.
# == tikroji lygybe, kitaip bus false
#
# Chained comparison Operators can chaine multpiple comparisons to performa more complex task.
1<2<3

In [ ]:
1<2 and 2<3

In [ ]:
1<3>2

In [ ]:
1==2 or 2<3

In [ ]:
1==1 and 100==1

In [ ]:
#kaip patikrinti kintamojo tipa(funkcija type) print(type(sarasas))
#Boolean gaunamas is palyginimo, funkcijos, logines salygos
#Palyginimo operatoriai(==, <,>), loginiai operatoriai (and, or, no
#panaudojimas if salygose
#boolean funkcija bool() . 
#. praktinis pvz: klientu amziaus tikrinimas.
klientai = [15, 18, 21, 16]
for amzius in klientai:
    pilnametis = amzius >= 18
    print(f"Amžius: {amzius}, Pilnametis: {pilnametis}")

In [ ]:
#praktinis pvz ar pirkimo suma virsija riba
suma = 130
riba = 100
virsijo = suma > riba
if virsijo:
    print("Vartotojas virsijo riba")

In [ ]:
#praktinis pvz boolean sarasu filtravimas (list comprehension)
#
#keliu salygu tikrinimas
x = 25
if x > 20 and x < 30:
    print("tarp 20 ir 30")

In [ ]:
#bolean analize duomenu kontekste
kartai = 4
suma = 150
lojalus = kartai > 3 and suma > 100
print("lojalus klientai", lojalus)

lojalus klientai True

In [ ]:
#date / datu funkcijos. today() - tik data. time() - tik laikas, isveda laika. 
#Datos formatavimas .strftime funkcija
#https://docs.python.org/3/library/datetime.html
#kaip prideti ar atimti laikas .timedelta funkcija
#kaip ivesti data/laika input
#kaip is datetime atskirai istraukti metus, menesi, valandas

In [60]:
#dabartine data ir laikas 
import datetime
 
dabar = datetime.datetime.now()
print("Dabartinė data ir laikas:", dabar)

Dabartinė data ir laikas: 2026-01-22 15:22:34.802243

In [61]:
#datos kurimas rankiniu budu
gimimo_diena = datetime.date(1990, 7, 19)
print("Gimimo data:", gimimo_diena)

Gimimo data: 1990-07-19

In [62]:
#datos konvertavimas is teksto (strptime)
data_tekstu = "2023-12-15"
data_obj = datetime.datetime.strptime(data_tekstu, "%Y-%m-%d").date()
print("Konvertuota data:", data_obj)

Konvertuota data: 2023-12-15

In [64]:
#biudzeto paskirtsymas pagal menesius be pandas
metinis_biudzetas = 120000
menesio_biudzetas = metinis_biudzetas / 12
 
for men in range(1, 13):
    data = datetime.date(2023, men, 1)
    print(f"{data.strftime('%B')} – {menesio_biudzetas:.2f} EUR")

January – 10000.00 EUR
February – 10000.00 EUR
March – 10000.00 EUR
April – 10000.00 EUR
May – 10000.00 EUR
June – 10000.00 EUR
July – 10000.00 EUR
August – 10000.00 EUR
September – 10000.00 EUR
October – 10000.00 EUR
November – 10000.00 EUR
December – 10000.00 EUR

In [65]:
#datetime.timedelta() - laiko skirtumas pvz dienu atimtis
diena1 = datetime.date(2023, 6, 11)
diena2 = datetime.date(2023, 6, 15)
 
skirtumas = diena2 - diena1
print("Dienų skirtumas:", skirtumas.days)

Dienų skirtumas: 4

In [ ]:
#strftime()
dabar = datetime.datetime.today()
print("Metai-mėnuo-diena:", dabar.strftime("%Y-%m-%d"))
print("Laikas (val:min):", dabar.strftime("%H:%M"))

Metai-mėnuo-diena: 2026-01-22
Laikas (val:min): 15:32

In [ ]:
gimimo_data = datetime.date(1984, 1, 1)
siandien = datetime.date.today()
amzius = siandien.year - gimimo_data.year
if (siandien.month, siandien.day) < (gimimo_data.month, gimimo_data.day):
    amzius -= 1
print("Amžius:", amzius)

In [ ]:
#isimtys, ju suvaldymas (su try/except/finally)
#kuo naudingas try/except/finally naudijomas: leidzia pakeisti klaidu pranesimus ispejimu vartotojui. ivykus klaidai, programa nesustoja(apsaugo nuo luzimo).
#po neivykdyto kodo, programa vykdoma toliau
#leidzia nuspresti, ka daryti.(...)
#Kaip suvaldyti kelias isimtis. 
#finally blokas. Kodas, vykdomas nepaisant to, kas vyksta try/except blokuose.

In [6]:
#klaidu suvaldymas / error handling su try/ except / finally 
#pagrindinis try / except naudojimas
try:
    x = 10 / 0
except ZeroDivisionError:
    print("Klaida: negalima dalinti iš nulio.")

Klaida: negalima dalinti iš nulio.

In [7]:
#finally blokas - visada ivykdomas
try:
    f = open("neegzistuojantis_failas.txt")
except FileNotFoundError:
    print("Klaida: failas nerastas.")
finally:
    print("Programa baigė darbą.")

Klaida: failas nerastas.
Programa baigė darbą.

In [ ]:
#ValueError - konversijos klaida