25. Įveskite temperatūrą: jei >25 – „karšta“, tarp 10–25 – „normali“, kitaip – „šalta“.
25. Enter the temperature: if >25 – “hot”, between 10–25 – “normal”, otherwise – “cold”.

In [44]:
temperature = int(input("Enter the temperature here:"))
if temperature > 25:
    print(f"Karšta")
elif temperature > 10:
    print(f"Normalu")
else:
    print(f"Šalta")

Šalta

24. Įveskite vardą – jei „admin“, pasisveikinkite kaip su administratoriumi.
24. Enter your name – if “admin”, greet as the administrator.

In [39]:
name = input("Input your name:")
if name == "admin":
    print(f"Hello, Admin, come on in!")
else:
    print(f"You're not an Admin, get out!")

You're not an Admin, get out!

23. Patikrinkite, ar skaičius yra lyginis ar nelyginis.
23. Check if the number is even or odd.

In [40]:
number = int(input("Input your number:"))
if number % 2==0:
    print(f"{number} is even")
else:
    print(f"{number} is odd.")

90 is even

22. Įveskite amžių ir nustatykite, ar asmuo pilnametis.
22. Input age and check if the person is underage.

In [32]:
age = int(input("Write your age here:"))
if age >= 18:
    print(f"{age} is not underage")
else:
    print(f"{age} is underage")

18 is not underage

3 dalis: Sąlygos su if / else
21. Patikrinkite, ar skaičius yra teigiamas, neigiamas ar nulis.

Part 3: Conditions with if / else
21. Check if a number is positive, negative, or zero.

In [30]:
number = int(input("Write a number here:"))
if number > 0:
    print(f"{number} is positive.")
elif number < 0:
    print(f"{number} is negative.")
else:
    print(f"{number} is zero.")

9 is positive.

20. Išveskite pirmą ir paskutinį simbolį iš vardo.
20. Extract the first and last characters from the name.

In [26]:
name = "Kunigunda"
first_letter = name[0]
last_letter = name[-1]
print("The first letter of your name is:", first_letter)
print("The last letter of your name is:", last_letter)

The first letter of your name is: K
The last letter of your name is: a

19. Išskirkite metus, mėnesį ir dieną iš datos „2025-06-01“.
19. Extract the year, month, and day from the date "2025-06-01".

In [25]:
date = "2025-06-01"
year, month, day = date.split("-")
print("Year is:", year)
print("Month is:", month)
print("Day is:", day)

Year is: 2025
Month is: 06
Day is: 01

18. Pakeiskite visus simbolius „a“ į „*“.
18. Replace all "a" to "*".

In [23]:
word = "abejojame"
replaced_word = word.replace("a", "*")
print("replaced word looks like this:", replaced_word)

replaced word looks like this: *bejoj*me

17.Patikrinkite, ar žodyje yra raidė „a“.
18. Check if the words has letter a in it.

In [21]:
word = "programavimas"

if word.find("a") != -1:
    print("Word contains an 'a'")
else:
    print("Word doesn't contain an 'a'")

Word contains an 'a'

16.Sukurkite el. pašto adresą iš vardo ir pavardės.
16.Create an email address from a first and a last name.

In [18]:
#another way to do it
name = input("Write your first name here")
surname = input("Write your surname here")
host = "@miglesimone.lt"
email = f"{name}.{surname}{host}"
print(f"Your email is: {email}")

Your email is: migle.sad@miglesimone.lt

In [17]:
name = "gedingas"
separator = "."
surname = "adresas"
host = "@gmail.com"
email = name + separator + surname + host
print("Your new email is:", email)

Your new email is: gedingas.adresas@gmail.com

15.Sujunkite du žodžius į vieną su tarpu.
15. Combine two words into one with a space.

In [14]:
a = "eglute"
b = "skarota"
joined_phrase = a + " " + b
print(joined_phrase)

eglute skarota

14. Padalinkite sakinį į žodžius ir parodykite pirmą žodį.
14. Divide the sentence into words and show the first word.

In [12]:
sentence = "Quick brown fox jumps over the lazy dog"
words = sentence.split()
first_word = words[0]
print("First words is:", first_word)

First words is: Quick

13. Suskaičiuokite simbolių kiekį varde.
13. Count the number of characters in the name.

In [11]:
vardas = "migle"
len(vardas)

5

12. Išveskite sakinį mažosiomis raidėmis.
12. Output the sentence in lowercase.

In [8]:
sentence = "LEARNING PYTHON IS FUN"
sentence.lower()

'learning python is fun'

2 dalis: Teksto (string) metodai
11.
Išveskite žodį didžiosiomis raidėmis.

Part 2: String Methods
11.
Output the word in uppercase.

In [7]:
word = "migle"
word.upper()

'MIGLE'

10.Apskaičiuokite bendrą dviejų prekių (3.50 € ir 4.20 €) kainą.
10.Calculate the total price of two items (€3.50 and €4.20).

In [6]:
a = 3.50
b = 4.20
price = a + b
print("Full price is", price, "EUR")

Full price is 7.7 EUR

9.Apskaičiuokite trikampio plotą (pagrindas 6, aukštis 4).
9.Calculate the area of ​​the triangle (base 6, height 4).

In [5]:
a = 6
h = 4
triangle_area = (a*h) / 2
print("Triangle area is", triangle_area, "cm2")

Triangle area is 12.0 cm2

8.Apskaičiuokite, kiek procentų liko negrąžintos paskolos (1000 € – 350 € grąžinta).
8. Calculate the percentage of the loan that remains unpaid (€1,000 – €350 repaid).

In [4]:
full_loan = 1000
returned = 350
not_returned = full_loan - returned
percent_not_returned = (not_returned / full_loan) * 100
print("Percent of loan to return is", percent_not_returned, "%")

Percent of loan to return is 65.0 %

7.Apskaičiuokite pažymių [7, 8, 9] vidurkį.
7.Calculate the average of the grades [7, 8, 9].

In [3]:
a = 7
b = 8
c = 9
avg = (a + b + c) / 3
print("Class Note Average is", avg )

Class Note Average is 8.0

6.Apskaičiuokite pelną po metų su 5% palūkanomis nuo 1000 €.
6.Calculate the profit after a year with 5% interest on €1,000.

In [2]:
profit = 1000
interest = 0.05
profit_after_interest = profit + (profit * interest)
print("Profit after interest is", profit_after_interest, "EUR")

Profit after interest is 1050.0 EUR

5. Apskaičiuokite kainą be PVM (121 € su 21% PVM).
5. Calculate the price excluding VAT (€121 with 21% VAT).

In [1]:
price_with_vat = 121
vat = 0.21
price_without_vat = price_with_vat / (1 + vat)
print("Price without VAT is", price_without_vat, "EUR")

Price without VAT is 100.0 EUR


4.Apskaičiuokite pelną, jei savikaina 40 €, o pardavimo kaina 65 €.
4.Calculate the profit if the cost price is €40 and the selling price is €65.

In [6]:
cost = 40
price = 65
profit = price - cost
print("Profit is", profit, "EUR")

Profit is 25 EUR

3. Apskaičiuokite mėnesio algą (160 val. × 12 €/val.).
3. Calculate the monthly salary (160 hours × €12/hour).

In [4]:
monthly_hours = 160
hourly_rate = 12
monthly_salary = monthly_hours * hourly_rate
print("Monthly salary is", monthly_salary, "EUR")

Monthly salary is 1920 EUR

2. Pritaikykite 15% nuolaidą prekei, kurios kaina 120 €.
2. Apply a 15% discount to an item priced at €120.

In [3]:
full_price = 120
discount = 0.85
price_with_discount = full_price * discount
print("Price After Discount is", price_with_discount, "EUR")

Price After Discount is 102.0 EUR

Python Intro Tasks
Kintamieji ir matematiniai skaičiavimai
1.
Sukurkite kintamuosius ir apskaičiuokite dienos uždarbį.



Python Intro Tasks
Variables and Mathematical Calculations
1.
Create variables and calculate daily earnings.

In [1]:
hours_per_day = 8
hourly_rate = 9.5
daily_salary = hours_per_day * hourly_rate
print("Daily salary is", daily_salary, "EUR")

Daily salary is 76.0 EUR