2 dalis: Teksto (string) metodai
11.
Išveskite žodį didžiosiomis raidėmis.

Part 2: String Methods
11.
Output the word in uppercase.

10.Apskaičiuokite bendrą dviejų prekių (3.50 € ir 4.20 €) kainą.
10.Calculate the total price of two items (€3.50 and €4.20).

In [6]:
a = 3.50
b = 4.20
price = a + b
print("Full price is", price, "EUR")

Full price is 7.7 EUR

9.Apskaičiuokite trikampio plotą (pagrindas 6, aukštis 4).
9.Calculate the area of ​​the triangle (base 6, height 4).

In [5]:
a = 6
h = 4
triangle_area = (a*h) / 2
print("Triangle area is", triangle_area, "cm2")

Triangle area is 12.0 cm2

8.Apskaičiuokite, kiek procentų liko negrąžintos paskolos (1000 € – 350 € grąžinta).
8. Calculate the percentage of the loan that remains unpaid (€1,000 – €350 repaid).

In [4]:
full_loan = 1000
returned = 350
not_returned = full_loan - returned
percent_not_returned = (not_returned / full_loan) * 100
print("Percent of loan to return is", percent_not_returned, "%")

Percent of loan to return is 65.0 %

7.Apskaičiuokite pažymių [7, 8, 9] vidurkį.
7.Calculate the average of the grades [7, 8, 9].

In [3]:
a = 7
b = 8
c = 9
avg = (a + b + c) / 3
print("Class Note Average is", avg )

Class Note Average is 8.0

6.Apskaičiuokite pelną po metų su 5% palūkanomis nuo 1000 €.
6.Calculate the profit after a year with 5% interest on €1,000.

In [2]:
profit = 1000
interest = 0.05
profit_after_interest = profit + (profit * interest)
print("Profit after interest is", profit_after_interest, "EUR")

Profit after interest is 1050.0 EUR

5. Apskaičiuokite kainą be PVM (121 € su 21% PVM).
5. Calculate the price excluding VAT (€121 with 21% VAT).

In [1]:
price_with_vat = 121
vat = 0.21
price_without_vat = price_with_vat / (1 + vat)
print("Price without VAT is", price_without_vat, "EUR")

Price without VAT is 100.0 EUR


4.Apskaičiuokite pelną, jei savikaina 40 €, o pardavimo kaina 65 €.
4.Calculate the profit if the cost price is €40 and the selling price is €65.

In [6]:
cost = 40
price = 65
profit = price - cost
print("Profit is", profit, "EUR")

Profit is 25 EUR

3. Apskaičiuokite mėnesio algą (160 val. × 12 €/val.).
3. Calculate the monthly salary (160 hours × €12/hour).

In [4]:
monthly_hours = 160
hourly_rate = 12
monthly_salary = monthly_hours * hourly_rate
print("Monthly salary is", monthly_salary, "EUR")

Monthly salary is 1920 EUR

2. Pritaikykite 15% nuolaidą prekei, kurios kaina 120 €.
2. Apply a 15% discount to an item priced at €120.

In [3]:
full_price = 120
discount = 0.85
price_with_discount = full_price * discount
print("Price After Discount is", price_with_discount, "EUR")

Price After Discount is 102.0 EUR

Python Intro Tasks
Kintamieji ir matematiniai skaičiavimai
1.
Sukurkite kintamuosius ir apskaičiuokite dienos uždarbį.



Python Intro Tasks
Variables and Mathematical Calculations
1.
Create variables and calculate daily earnings.

In [1]:
hours_per_day = 8
hourly_rate = 9.5
daily_salary = hours_per_day * hourly_rate
print("Daily salary is", daily_salary, "EUR")

Daily salary is 76.0 EUR