6.Apskaičiuokite pelną po metų su 5% palūkanomis nuo 1000 €.

In [1]:
price_with_vat = 121
vat = 0.21
price_without_vat = price_with_vat / (1 + vat)
print("Price without VAT is", price_without_vat, "EUR")

Price without VAT is 100.0 EUR

5. Apskaičiuokite kainą be PVM (121 € su 21% PVM).

In [6]:
cost = 40
price = 65
profit = price - cost
print("Profit is", profit, "EUR")

Profit is 25 EUR


4.Apskaičiuokite pelną, jei savikaina 40 €, o pardavimo kaina 65 €.

In [4]:
monthly_hours = 160
hourly_rate = 12
monthly_salary = monthly_hours * hourly_rate
print("Monthly salary is", monthly_salary, "EUR")

Monthly salary is 1920 EUR

3. Apskaičiuokite mėnesio algą (160 val. × 12 €/val.).

In [3]:
full_price = 120
discount = 0.85
price_with_discount = full_price * discount
print("Price After Discount is", price_with_discount, "EUR")

Price After Discount is 102.0 EUR

2. Pritaikykite 15% nuolaidą prekei, kurios kaina 120 €.

In [1]:
hours_per_day = 8
hourly_rate = 9.5
daily_salary = hours_per_day * hourly_rate
print("Daily salary is", daily_salary, "EUR")

Daily salary is 76.0 EUR

Python Intro Tasks
Kintamieji ir matematiniai skaičiavimai
1.
Sukurkite kintamuosius ir apskaičiuokite dienos uždarbį.