Data structures, Boolean, Datetime
Duomenų tipų apžvalga, string formatting.
Data types, single value, multiple values, dictionaries, tuples and sets.
su duomenimis galime: juos keisti, arba priskirti naujas reikšmes ant viršaus. Tuple yra nekeičiamas. Sąrašai, žodynai ir setai yra keičiami.
Python container data types:
single values, multiple values
Multiple values yra containers, kuriuose galima talpinti daug dalykų.

Python caontainer data types
Sąrašų sintaksė laužtiniuose skliausteliuose. jie yra rikiuojai ir indeksuojami ir gali būti dvigubos reikšmės. Juos galima keisti (mutable). Skirti laikymui rikiuotinų dalykų.
Dictionary sintaksė yra {{}} tokiuose skliausteliuose, unoerdered, bet galima indeksuoti. values gali pasikaroti. Juos galima keisti (mutable). Naudojama for key-value pairs.
Set yra rinkinys, aibė. Rašomas laužtiniuose{} skliaustuose, nerikiuojamas, unordered, indeksavimo nėra, nes nėra sekos, neleidžia dublikatų. Užima mažiau informacijos. Reikalingas norint išsivesti Unique dalykus/values.
Tuple rašomas skliausteliuose(), rikiuojamas, pasiekiamas per index, gali būti vienodos reikšmės, bet nekeičiamas. Reikalingas for fixed data, nes kai kurie dalykai turi būti nekeičiami dėl duomenų saugumo.

Tuple yra nekeičiama, immutable duomenų seka. nekintamas sąrašas. Svarbu, kad užima mažai vietos, nes nėra papildomai tikrinamas, plius koordinatėms. Galime paprastą list'ą paversti tuple.
mY_tuple = (1,2,3) single_t = (1,)
Tupple metodai .count() - suskaičiuoti. .index() - grąžina pirmą kartą sutikto nurodyto elemento indeksą.

Kas yra set? nesurikiuotas unikalių reikšmių rinkinys. Galima tikrinti, atlikti matematinę analizę, lyginti dvi reikšmių aibes. Naudinga, kai reikia greitai išvalyti dublikatus. Set operacijos naudojamos palyginti klientų grupes, filtruoti pasikartojimus.

Naudok tuple, kai reikšmė neturi keistis. Naudok set, kai reikia unikalių reikšmių ar atlikti aibės operacijas. Abu objektai naudoja mažiau atminties nei List ir veikia greičiau specifinėse situacijose.

In [1]:
#constructing tuples
t = (1,2,3)

In [ ]:
#check len just like a list
len(t)

In [3]:
# can also mix object types
t = ("one", 2)
t

('one', 2)

In [4]:
#slicing just like a list 
t[-1]

2

In [5]:
# Methods, kad rastu .index
t.index("one")

0

In [6]:
t.count("one")

1

In [ ]:
t.append("nope") #nes negalima append
#convenient source of data integrity

In [10]:
#set 
#set yra aibe. unordered collection of unique ellements
x = set()

In [11]:
#we add to sets with the add() method
x.add(1)

In [12]:
#show
print(x)

{1}

In [13]:
x.add(2)

In [ ]:
print(x)

{1, 2}

In [15]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [16]:
set(list1)

{1, 2, 3, 4, 5, 6}

Booleans
predefined True and False displays
Panašiai kaip online direct flag. Tuščias set būtų false. true yra 1. juos galima sumuoti(bet tik true, nes turi vieneto reikšmę). 
jie susikuria, jeigu vedame loginius comparison operators.

In [18]:
a = True

In [19]:
print(a)

True

In [20]:
3 > 2

True

In [21]:
b = None
print(b)

None

tuple

In [22]:
# Yra užsakymo duomenys
order = ("ORD-001", "2024-09-01", 120.50)
 
order

('ORD-001', '2024-09-01', 120.5)

In [23]:
#reiksmiu paemimas is tupple pagal indeksa
order_id = order[0]
order_date = order[1]
order_amount = order[2]
 
order_id, order_date, order_amount

('ORD-001', '2024-09-01', 120.5)

In [24]:
#tuple unpacking
#naudojamas, kai reikia is karto iskaidyti reiksmes ir kintamuosius ir zinai kokia yra struktura
#tuple unpacking su paskutiniais elementais naudojamas, kai reikalinga tik dalis reiksmiu.
# Yra prekių sąrašas
products = ("Kėdė", "Stalas", "Lempa", "Spinta", "Lentyna")
 
# Reikia paimti paskutinius tris elementus
item1, item2, item3 = products[-3:]
 
item1, item2, item3

('Lempa', 'Spinta', 'Lentyna')

In [25]:
#set unikalios reiksmes
# Yra klientų ID su pasikartojimais
customer_ids = ["C001", "C002", "C001", "C003", "C002"]
 
unique_customers = set(customer_ids)
unique_customers

{'C001', 'C002', 'C003'}

In [26]:
#set pavertimas i list arba tuple naudojamas, kai reikia unikaliu reiksmiu, bet butina seka.
unique_customers_list = list(unique_customers)
unique_customers_tuple = tuple(unique_customers)
 
unique_customers_list, unique_customers_tuple

(['C001', 'C002', 'C003'], ('C001', 'C002', 'C003'))

In [ ]:
#set operacijos: sajunga, sankirta, skirtumas

#sajungos pvz
campaign_A = {"C001", "C002", "C003"}
campaign_B = {"C002", "C004"}
 
# Klientai, gavę bent vieną kampaniją
campaign_A | campaign_B

{'C001', 'C002', 'C003', 'C004'}

In [ ]:
#klientai, gave abi kampanijas
campaign_A & campaign_B

{'C002'}

In [ ]:
#klientai, gave tik A kampanija
campaign_A - campaign_B

{'C001', 'C003'}

In [ ]:
#set naudojimas cikluose. naudojamas, kai reikia pereiti per unikalias reiksmes.

String formatting
1.Paprastas print() su kintamaisiais

In [34]:
vardas = "Jonas"
amzius = 25
print("Vardas:", vardas)
print("Amžius:", amzius)

Vardas: Jonas
Amžius: 25

In [35]:
#2. formatavimas naudojant f-string
vardas = "Jonas"
amzius = 25
print(f"{vardas} yra {amzius} metu amziaus")

Jonas yra 25 metu amziaus

In [37]:
#3. Formatavimas naudojant str.format()
vardas = "Ona"
amzius = "29"
print ("{} yra {} metu amziaus".format(vardas, amzius))

Ona yra 29 metu amziaus

In [ ]:
#4. sep panaudojimas (tarpu keitimas) separatoriu nurodai pvz bruksniukas arba taskas
#5. end panaudojimas (pabaigos keitimas)
print("Sveiki,", end=" ")
print("kaip sekasi?")

Sveiki, kaip sekasi?

In [39]:
#6 keliu formatavimo budu palyginimas
vardas = "Jonas"
amzius = 25
 
# f-string
print(f"{vardas} / {amzius} m.")
 
# format()
print("{} / {} m.".format(vardas, amzius))
 
# klasikinis su kableliais
print(vardas, "/", amzius, "m.")

Jonas / 25 m.
Jonas / 25 m.
Jonas / 25 m.

In [40]:
#Tuple fiksuotu reiksmiu rinkinys
# Pvz.: kliento duomenų struktūra
klientas = ("Jonas", 28, "Vilnius")
vardas, amzius, miestas = klientas
print("Vardas:", vardas)
print("Amžius:", amzius)
print("Miestas:", miestas)

Vardas: Jonas
Amžius: 28
Miestas: Vilnius

In [41]:
#Tuple sarase - fiksuota struktura keliose eilutese
#pvz klientu sarasas


#set operacijos - grupiu palyginimas
# Pvz.: aktyvūs ir registruoti klientai
registruoti = {"Jonas", "Ona", "Petras", "Greta"}
aktyvūs = {"Jonas", "Greta"}
 
# Kas registruoti, bet neaktyvūs?
neaktyvūs = registruoti - aktyvūs
print("Neaktyvūs klientai:", neaktyvūs)

Neaktyvūs klientai: {'Petras', 'Ona'}

In [42]:
#Set panaudojimas duomenu analize
# Pvz.: rasti bendrus produktus dviejose rinkose
lt_produktai = {"obuoliai", "bananai", "kriaušės"}
lv_produktai = {"bananai", "kriaušės", "vynuogės"}
 
bendri = lt_produktai & lv_produktai
print("Bendri produktai:", bendri)

Bendri produktai: {'kriaušės', 'bananai'}

In [43]:
#Tuple kaip rakto panaudojimas zodyne. dictionary key turi buti unikalus.
# Pvz.: pardavimai pagal (regionas, produktas)
pardavimai = {
    ("Vilnius", "obuoliai"): 150,
    ("Kaunas", "obuoliai"): 200,
    ("Vilnius", "kriaušės"): 180
}
print("Pardavimai Vilniuje (obuoliai):", pardavimai[("Vilnius", "obuoliai")])

Pardavimai Vilniuje (obuoliai): 150

In [44]:
#sankirta & arba .intersection()): kas bendro, 
a = {"A", "B", "C"}
b = {"B", "C", "D"}
print(a & b)  # {'B', 'C'}
print(a.intersection(b))

{'B', 'C'}
{'B', 'C'}

In [ ]:
# sajunga | arba .union())

In [ ]:
#skirtumas - arba .difference())
#simetrinis skirtumas ^ arba .symmetric_difference())
#poaibio tikrinimas <=
#aibes lygybe ==